*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTEINER-SPOTIFY */

.conteiner-spotify{
    height: 100vh;
    background-color: #141922;
}




/* CONT-MAIN */

.cont-main{
    display: flex;
}






/* CONT-LEFT */
.cont-left{
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 25px;
    height: 80vh;
}

.fa-bars{
    rotate: 90deg;
}

.cont-left-center{
    display: flex;
    flex-direction: column;
}

.divisor{
    height: 1px;
    width: 100%;
    background-color: white;
}

.cont-left-btm{
    display: flex;
    flex-direction: column;

}




/* CONT-RIGHT */

.cont-right{
    flex-basis: 80%;
}

.fixed-bar{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%;
    color: white;
    padding: 25px;
}

.btn{
    border: 1px solid lightgray;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}





/* CONT-BOTTOM */